<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group row">
      <div class="form-group row  col-9">
        <label for="reponseLabel" class="col-sm-2 col-form-label">Intitulé</label>
        <div class="col-sm-10">
          <input autocomplete="off" type="text" id="reponseLabel" class="form-control" formControlName="intitule">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-check mb-2">
          <input type="checkbox" class="form-check-input" formControlName="correct" id="isCorrect">
          <label class="form-check-label" for="isCorrect">Bonne réponse</label>
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-outline-secondary">+ Ajouter</button>
      </div>
    </div>
  </form>
</div>
