<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="reponseLabel">Intitulé</label>
      <input type="text" id="reponseLabel" class="form-control" formControlName="label">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="isCorrect" id="isCorrect">
      <label for="isCorrect">Type Réponse</label>
    </div>
    <div class="add">
      <button type="submit">+ Ajouter</button>
    </div>
  </form>
</div>
