<nav class="navbar navbar-expand-lg justify-content-between">
  <button type="button" class="btn btn-outline-primary nav-link btn-style" [routerLink]="['/']">Utilisateurs</button>
  <button type="button" class="btn btn-outline-primary nav-link btn-style" [routerLink]="['creer']">Candidats</button>
  <button type="button" class="btn btn-outline-primary nav-link btn-style" [routerLink]="['test']" routerLinkActive #route="routerLinkActive" [ngClass]="{active: route.isActive}">Tests</button>
  <button type="button" class="btn btn-outline-primary nav-link btn-style" [routerLink]="['creer']">Statistiques</button>
</nav>
