
 <div class="container">
   <h2>Ajouter une question au test</h2>
   <br>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="questionLabel">Enoncé</label>
      <textarea id="questionLabel" class="form-control" formControlName="label"></textarea>
      </div>
    <div class="form-group row">
      <div class="form-group row col-5">
      <label for="answerType" class="col-sm-5 col-form-label">Type de la réponse</label>
      <div class="form-group row col-sm-7">
        <select id="answerType" class="form-control" formControlName="answerType">
          <option *ngFor="let answerType of (answerTypes | async)" [value]="answerType.code">{{ answerType.label }}</option>
        </select>
      </div>
    </div>
      <div class="form-group row col-3">
        <label for="questionScore" class="col-sm-5 col-form-label">Points</label>
        <div class="form-group col-md-7">
          <input id="QuestionScore" type="number" class="form-control" formControlName="score">
        </div>
      </div>
      <div class="form-check col-2 offset-sm-2">
        <input id="questionEnable" type="checkbox" class="form-check-input" formControlName="enable">
        <label class="form-check-label" for="questionEnable">Désactiver</label>
      </div>
    </div>
      <br>
  </form>
  <app-answer
    [idTest]="idTest"
    [idQuestion]="idQuestion"
    [answerType]="form.get('answerType').value"
    *ngIf="form.get('answerType').value != 2 && idQuestion != null"
    >
  </app-answer>

  <div class="btn-grp" style="display: flex; justify-content: space-between;">
    <button type="button" class="btn btn-outline-danger" [routerLink]="['../../../..', idTest]" routerLinkActive="router-link-active" >Annuler</button>
    <button type="button" class="btn btn-outline-success">Enregistrer</button>
  </div>

</div>
